@model deportes.domain.Categoria

welcome to  create category

<form asp-action="Create">
    <br />
    nombre de la categoria
    <input type="text" asp-for="Nombre " />
    <br />
    <input type="submit" value=" create category " />
    <br />

</form>
